<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form class="auth-form" (ngSubmit)="submit()">
    <h1>Bienvenue</h1>
    <p>Connectez-vous pour gérer vos films favoris.</p>

    <ion-item>
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input
        name="email"
        type="email"
        autocomplete="email"
        [(ngModel)]="email"
        required
      />
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Mot de passe</ion-label>
      <ion-input
        name="password"
        type="password"
        autocomplete="current-password"
        [(ngModel)]="password"
        required
      />
    </ion-item>

    <ion-text color="danger" *ngIf="errorMessage">
      <p class="error-message">{{ errorMessage }}</p>
    </ion-text>

    <ion-button expand="block" type="submit" [disabled]="isSubmitting">
      <ion-spinner *ngIf="isSubmitting" name="crescent" />
      <span *ngIf="!isSubmitting">Se connecter</span>
    </ion-button>

    <p class="link-line">
      Vous n'avez pas encore de compte ?
      <a routerLink="/register">Créer un compte</a>
    </p>
  </form>
</ion-content>
