<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <strong>Bienvenue dans votre espace films</strong>
    <p>Votre compte est connecté.</p>
    <ion-button routerLink="/profile" fill="outline">Voir mon profil</ion-button>
    <ion-button
      color="danger"
      (click)="logout()"
      [disabled]="isLoggingOut"
    >
      {{ isLoggingOut ? 'Déconnexion...' : 'Se déconnecter' }}
    </ion-button>
  </div>
</ion-content>
